.education {
  .box-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 9rem;
    padding-right: 9rem;

    .box {
      width: 27rem;
      margin: 4rem 1rem;
      padding-left: 4rem;
      border-left: 0.2rem solid #fff;
      position: relative;

      span {
        font-size: 1.3rem;
        background: #222;
        color: #fff;
        border-radius: 5rem;
        padding: 0.5rem 2.5rem;
      }

      h3 {
        font-size: 2rem;
        color: #fff;
        padding-top: 1.5rem;
      }

      p {
        font-size: 1.4rem;
        color: #eee;
        padding: 1rem 0;
      }

      i {
        position: absolute;
        top: -1.5rem;
        left: -2.5rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        line-height: 5rem;
        text-align: center;
        font-size: 2rem;
        color: #fff;
        background: var(--yellow);
      }
    }
  }

  .education-container {
    justify-content: space-between;
  }

  .internships-container {
    justify-content: flex-start;
    gap: 5rem;
  }

  h4 {
    text-align: start;
    margin: 0 6rem;
    font-size: 3rem;
    padding: 1rem;
    color: #fff;
    border-bottom: 1px solid white;
    width: fit-content;
  }
}
